{% extends "base.html.j2" %}
{% import "macros/forms.html.j2" as render_form %}
{% block head %}
  <title>Log In</title>
{% endblock head %}
{% block body %}
  <form action="{{ url_for("process_login_page") }}" method="post">
    <table>
      <tbody>
        {{ render_form.as_rows(form) }}
        <tr>
          <td>
            <button type="submit">
              Log In
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  {{ render_form.form_errors(form) }}
{% endblock body %}
