{% extends "base.html.j2" %}
{% import 'macros/forms.html.j2' as render %}
{% block head %}
  <title>Log in</title>
{% endblock head %}
{% block body %}
  <form action="{{ url_for("process_login_page") }}" method="post">
    <table>
      <tbody>
        {{ render.form_as_rows(form) }}
        <tr>
          <td>
            <button type="submit">
              Log In
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  {% if form.form_errors %}
    <div>
      <ul>
        {% for error in form.form_errors %}
          <li>
            {{ error }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock body %}
