{% extends "base.html.j2" %}
{% import 'macros/forms.html.j2' as render %}
{% block head %}
  <title>Sign In</title>
{% endblock head %}
{% block body %}
  <form action="{{ url_for("process_register_page") }}" method="post">
    <table>
      <tbody>
        {{ render.form_as_rows(form) }}
        <tr>
          <td>
            <button type="submit">
              Sign In
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  {{ render.form_errors(form) }}
{% endblock body %}
