{% extends "base.html.j2" %}
{% import "contacts/macros.html.j2" as render_contacts %}
{% import "forms/macros.html.j2" as render_form %}
{% block head %}
  <title>My Contacts</title>
{% endblock head %}
{% block body %}
  {{ render_contacts.as_list(contacts) }}
  <form action="{{ url_for("process_contact_form") }}" method="post">
    <table>
      <tbody>
        {{ render_form.as_rows(form) }}
        <tr>
          <td>
            <button type="submit">
              Add Contact
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  {{ render_form.form_errors(form) }}
{% endblock body %}
